*{
    width: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

body{
background-color: red;
}

ul{
    list-style: none;
}

.container{
    width: 1200px;
    padding: o 15px;
    margin: 0;
    display: flex;
}

.list-text{
    color: rgb(223, 22, 22);
}

.l{
    color: black;
}

.about{
    display: flex;
    gap: 80px;
}

.list{
    background-color: aliceblue;
}